/* desktop grid */
@media screen and (min-width: 576px) {
    .container {
        background-color: pink;
        display: grid;
        row-gap: 16px;
        column-gap: 16px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows:50px 240px auto 100px 50px;
        grid-template-areas:
        "item-A item-C item-C"
        "item-B item-C item-C"
        "item-B none item-D"
        "item-B none none"
        "item-F item-F item-F";

    }

    .grid-item {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

    }

    #item-A {
        background-color: darkred;
        grid-area: item-A;
    }

    #item-B {
        background-color: darkred;
        grid-area: item-B;
    }

    #item-C {
        background-color: darkred;
        grid-area: item-C;
    }

    #item-D {
        background-color: darkred;
        grid-area: item-D;
    }

    #item-F {
        background-color: darkred;
        grid-area: item-F;
    }
}
/* mobile desktop */
.container {
    background-color: pink;
    display: grid;
    row-gap: 4px;
    column-gap: 4px;
    grid-template-columns: 1fr;
    grid-template-rows-rows: 50px auto 80%;
    grid-template-areas:
            "item-A"
            "item-B"
            "item-C"
            "item-D"
            "item-F";
}